body {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

.btn-wrap button {
    background-color: #ff0000;
    color: #fff;
    border: 1px solid #a2090b;
    border-radius: 7px;
    width: 235px;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.form-popup {
    display: none;
    position: relative;
    padding: 100px 0;
    background: #000000e3;
}

.form-container {
    max-width: 890px;
    padding: 10px;
    background-color: white;
    margin: auto;
    border-radius: 25px;
}

.form-header {
    display: flex;
    justify-content: space-between;
}

.form-header h1 {
    padding: 37px 41px;
    margin: 0;
    line-height: 42px;
}

.form-container input[type=text], .form-container input[type=tel] {
    width: 314px;
    padding: 12px 17px;
    margin: 5px 0 25px 0;
    border: 1px solid #c3c3c3;
    border-radius: 6px;
    font-size: 21px;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #65c86f;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 350px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 4px 0 0 #56ab61;
    font-size: 28px;
    margin-bottom: 10px;
}


.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.form-flex {
    display: flex;
    justify-content: space-between;
}

.form-container .btn:after {
    content: "";
    background-image: url("images/up-sign.svg");
    width: 35px;
    height: 39px;
    margin: 0 14px;
}

.form-content {
    max-width: 380px;
    padding: 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.form-content label {
    color: #2a2a2a;
    font-weight: 200;
}

.form-content input {
    color: #a0a0a0;
    font-weight: 200;
}

.form-content input::-webkit-input-placeholder { /* Chrome */
    color: #a0a0a0;
    font-weight: 200;
}

.form-content input:-ms-input-placeholder { /* IE 10+ */
    color: #a0a0a0;
    font-weight: 200;
}

.form-content input::-moz-placeholder { /* Firefox 19+ */
    color: #a0a0a0;
    opacity: 1;
    font-weight: 200;
}

.form-content input:-moz-placeholder { /* Firefox 4 - 18 */
    color: #a0a0a0;
    opacity: 1;
    font-weight: 200;
}

.form-content .documents {
    text-align: center;
    font-size: 12px;
    color: #a0a0a0;
}

.close {
    background: url("images/close.svg") no-repeat;
    width: 15px;
    height: 21px;
    background-size: 100%;
    border: none;
    margin: 10px;
}

.img-book {
    margin-left: 30px;
}
